<h1>créer ton compte</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>

<div class="mb-3">
<%= form.label :first_name%>
<%= form.text_field :first_name, class: "form-control", placeholder: "ton prénom" %>
</div>
<%= form.label :last_name%>
<%= form.text_field :last_name, class: "form-control", placeholder: "ton nom" %>
</div>
<%= form.label :description%>
<%= form.text_field :description, class: "form-control", placeholder: "décris toi" %>
</div>
<%= form.label :email%>
<%= form.text_field :email, class: "form-control", placeholder: "mark@zukerberg.com" %>
</div>
<%= form.label :age%>
<%= form.text_field :age, class: "form-control", placeholder: "quel age as tu ?" %>
</div>
<%= form.label :city_id%>
<%= form.text_field :city_id, class: "form-control", placeholder: "ton city ID 7 ?" %>
</div>
<div class="mb-3">
<%= form.label :password%>
<%= form.password_field :password, class: "form-control", placeholder: "password" %>
</div>
<div class="mb-3">


<div class="mb-3">
<%= form.submit "enregistres toi sinon pas de chocolat", class: "btn btn-primary" %>
</div>
<% end %>